body,html {
margin:0px;
padding:0px;
}


#maket {
width:800px;
margin:0 auto;
}

#header{
background-color:#C0C000;
width:200px;
float:left;

}
#header1{
background-color:#F011111;
margin-left:202px;
}


#left{
background-color:#00C0C0;
width:200px;
float:left;
}

#content{
background-color:#8080FF;
margin-left:202px;
}

#footer{
background-color:#FFC0FF;
clear:both;
}